body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: bold;
}

.card {
    max-width: 600px;
    margin: auto;
    background: #ffffff;
    border-radius: 10px;
}

pre {
    width: 100%;
    max-width: 800px;
    overflow-x: auto;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}
